SIGNUPS_ALLOWED={{ bwrs_env_signups_allowed }}
INVITATIONS_ALLOWED={{ bwrs_env_invitations_allowed }}
ADMIN_TOKEN={{ bwrs_env_admin_token }}
DISABLE_ADMIN_TOKEN={{ bwrs_env_disable_admin_token }}
WEBSOCKET_ENABLED={{ bwrs_env_websocket_enabled }}
DOMAIN={{ bwrs_env_domain }}
SMTP_HOST={{ bwrs_env_smtp_host }}
SMTP_FROM={{ bwrs_env_smtp_from }}
SMTP_PORT={{ bwrs_env_smtp_port }}
SMTP_SSL={{ bwrs_env_smtp_ssl }}
SMTP_USERNAME={{ bwrs_env_smtp_username }}
SMTP_PASSWORD={{ bwrs_env_smtp_password }}
SMTP_EXPLICIT_TLS={{ bwrs_env_smtp_explicit_tls }}
SHOW_PASSWORD_HINT={{ bwrs_env_show_password_hint }}